<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазинчик</title>
    <link rel="stylesheet" href="../static/tasks.css">
</head>
<body>
    <table>
    <thead>
    <caption>Items-Гуру</caption>
        <tr>
            <th class="basic">Учебник IT Модуля</th>
            <th class="pro">+Перерыв</th>
            <th class="gold">+Выходной</th>
            <th class="platinum">+Отпуск</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                Учебник IT Модуля - вы получаете новейшее издание, с лучшими советами по разработке.
</td>
            <td>Перекус во время работы.
</td>
            <td>Отдых, если не горят проекты.
</td>
            <td>14 Дневный отдых.
</td>
        </tr>
        <tr>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1000 баллов</p>
            </td>
            <td class="price-wrapper">
               <p class="price-text">Баллы: 1200 баллов</p>
            </td>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1400 баллов</p>
            </td>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1600 баллов</p>
            </td>
        </tr>
        <tr>
            <td><a href="/spend_points1000" class="pricebutton basic">Выполнить</a></td>
            <td><a href="/spend_points1200" class="pricebutton pro">Выполнить</a></td>
            <td><a href="/spend_points1400" class="pricebutton gold">Выполнить</a></td>
            <td><a href="/spend_points1600" class="pricebutton platinum">Выполнить</a></td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
    <caption>Items-Гуру2</caption>
        <tr>
            <th class="basic">Учебник IT Модуля</th>
            <th class="pro">+Перерыв</th>
            <th class="gold">+Выходной</th>
            <th class="platinum">+Отпуск</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                Учебник IT Модуля - вы получаете новейшее издание, с лучшими советами по разработке.
</td>
            <td>Перекус во время работы.
</td>
            <td>Отдых, если не горят проекты.
</td>
            <td>14 Дневный отдых.
</td>
        </tr>
        <tr>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1000 баллов</p>
            </td>
            <td class="price-wrapper">
               <p class="price-text">Баллы: 1200 баллов</p>
            </td>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1400 баллов</p>
            </td>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1600 баллов</p>
            </td>
        </tr>
        <tr>
            <td><a href="/spend_points1000" class="pricebutton basic">Выполнить</a></td>
            <td><a href="/spend_points1200" class="pricebutton pro">Выполнить</a></td>
            <td><a href="/spend_points1400" class="pricebutton gold">Выполнить</a></td>
            <td><a href="/spend_points1600" class="pricebutton platinum">Выполнить</a></td>
    </tr>
    </tbody>
</table>


<table>
    <thead>
    <caption>Items-Гуру3</caption>
        <tr>
            <th class="basic">Учебник IT Модуля</th>
            <th class="pro">+Перерыв</th>
            <th class="gold">+Выходной</th>
            <th class="platinum">+Отпуск</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                Учебник IT Модуля - вы получаете новейшее издание, с лучшими советами по разработке.
</td>
            <td>Перекус во время работы.
</td>
            <td>Отдых, если не горят проекты.
</td>
            <td>14 Дневный отдых.
</td>
        </tr>
        <tr>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1000 баллов</p>
            </td>
            <td class="price-wrapper">
               <p class="price-text">Баллы: 1200 баллов</p>
            </td>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1400 баллов</p>
            </td>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 1600 баллов</p>
            </td>
        </tr>
        <tr>
            <td><a href="/spend_points1000" class="pricebutton basic">Выполнить</a></td>
            <td><a href="/spend_points1200" class="pricebutton pro">Выполнить</a></td>
            <td><a href="/spend_points1400" class="pricebutton gold">Выполнить</a></td>
            <td><a href="/spend_points1600" class="pricebutton platinum">Выполнить</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>