<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/profile.css" />
    <title>Profile Dropdown</title>
  </head>
  <body>
    <nav class="navbar">
      <img src="./assets/logo.png" class="navbar-logo" alt="logo" />
      <ul class="navbar-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Videos</a></li>
      </ul>

      <div class="profile-dropdown">
        <div onclick="toggle()" class="profile-dropdown-btn">
          <div class="profile-img">
            <i class="fa-solid fa-circle"></i>
          </div>

          <span
            >Victoria
            <i class="fa-solid fa-angle-down"></i>
          </span>
        </div>

        <ul class="profile-dropdown-list">
          <li class="profile-dropdown-list-item">
            <a href="#">
              <i class="fa-regular fa-user"></i>
               <a href="#">Редактировать профиль</a>
            </a>
          </li>



          <li class="profile-dropdown-list-item">
            <a href="#">
              <i class="fa-solid fa-sliders"></i>
              <a href="#">Профиль</a>
            </a>
          </li>

          <li class="profile-dropdown-list-item">
            <a href="/tasks">
              <i class="fa-regular fa-circle-question"></i>
              <form action="/menuT" method="post" autocomplete="off">
              <a href="/tasks">Задания</a>
              </form>
            </a>
          </li>
          <hr />
        </ul>
      </div>
    </nav>

    <script src="script.js"></script>
  </body>
</html>