<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задания</title>
    <link rel="stylesheet" href="../static/tasks.css">
</head>
<body>
    <table>
    <thead>
    <caption>Конференц-Гуру</caption>
        <tr>
            <th class="basic">Эксперт в обучении</th>
            <th class="pro">Командный дух</th>
            <th class="gold">Инициативный сотрудник</th>
            <th class="platinum">Культурный амбассадор</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                Примите участие в конференции или вебинаре по вашей профессиональной области и поделитесь полученными знаниями с коллегами на корпоративном собрание.
</td>
            <td>Проведите онлайн-курс или мастер-класс для своих коллег по теме, связанной с вашей областью знаний или навыков.
</td>
            <td>Организуйте и проведите корпоративный мероприятие или командное строительство для вашей команды.
</td>
            <td>Предложите и реализуйте улучшение в рабочем процессе или проекте компании, повысив эффективность или качество работы.
</td>
        </tr>
        <tr>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 100 баллов</p>
            </td>
            <td class="price-wrapper">
               <p class="price-text">Баллы: 300 баллов</p>
            </td>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 500 баллов</p>
            </td>
            <td class="price-wrapper">
                <p class="price-text">Баллы: 700 баллов</p>
            </td>
        </tr>
        <tr>
            <td><a href="/reward_points100" class="pricebutton basic">Выполнить</a></td>
            <td><a href="/reward_points300" class="pricebutton pro">Выполнить</a></td>
            <td><a href="/reward_points500" class="pricebutton gold">Выполнить</a></td>
            <td><a href="/reward_points700" class="pricebutton platinum">Выполнить</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>